body .main-wrapper .result.default {
  background-color: #1B1918;
  color: white; }
 
  body .main-wrapper .result.default .cmm {
    color: #766E6B;
    font-style: italic; }
  
  body .main-wrapper .result.default .id_comment {
    color: #7B9726;
    font-style: italic; }
  
  body .main-wrapper .result.default .var {
    color: #ff9728; }
  
  body .main-wrapper .result.default .res_word {
    font-weight: bold;
    color: #C33FF3; }
  
  body .main-wrapper .result.default .num_int, body .main-wrapper .result.default .num_float, body .main-wrapper .result.default .num_hex {
    color: #00ff04; }
  
  body .main-wrapper .result.default .eof {
    color: #f2ea15;
    font-weight: bold;
    font-style: italic; }
  
  body .main-wrapper .result.default .str {
    color: #009dff; }
  
  body .main-wrapper .result.default .art_ope {
    color: #40E77B; }

  body .main-wrapper .result.default .lf_brc, body .main-wrapper .result.default .rg_brc, body .main-wrapper .result.default .lf_brckt, body .main-wrapper .result.default .rg_brckt{
    color:white;
    font-weight: bold;
  }

  body .main-wrapper .result.default .err{
    text-transform: uppercase;
    color:red;
    font-weight: bold;
    font-style: italic;
  }